# fly.toml app configuration file generated for cluesstack-api-acfg1g on 2025-11-02T23:19:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cluesstack-api-acfg1g'
primary_region = 'dfw'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
